#informacoes {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 10%;
}

h5 {
  text-transform: uppercase;
  margin-bottom: 25px;
}

table {
  background-color: white;
  border-radius: 15px;
}

.btn {
  margin: 15px 15px;
}
