<div class="div-clientes">
  <h5>Contas</h5>

  <div class="text-center mt-3 mb-3">
    <form>
      <label>Filtrar por CPF: </label>
      <input
        class="rounded"
        type="text"
        autofocus
        (keyup)="digitado($event.target)"
        >
    </form>
  </div>
  <table class="table border border-dark">
    <thead class="border border-dark">
      <tr class="table-secondary border border-dark">
        <th scope="col" class="border border-dark" class="thead-clientes">ID</th>
        <th scope="col" class="border border-dark" class="thead-clientes">Agência</th>
        <th scope="col" class="border border-dark" class="thead-clientes">Número da conta</th>
        <th scope="col" class="border border-dark" class="thead-clientes">Nome</th>
        <th scope="col" class="border border-dark" class="thead-clientes">CPF</th>
        <th scope="'col" class="border border-dark" class="thead-clientes">Ações</th>
        <th scope="'col" class="border border-dark" class="thead-clientes">Transações</th>
      </tr>
    </thead>
    <tbody class="border border-dark">
      <tr class="border border-dark" *ngFor="let conta of contas | filterCpf: filter">
        <th class="border border-dark" scope="row">{{ conta.id }}</th>
        <td class="border border-dark">{{ conta.agencia }}</td>
        <td class="border border-dark">{{ conta.numero }}</td>
        <td id="nome" class="border border-dark">{{ conta.nomeCliente }}</td>
        <td class="border border-dark">{{ conta.cpf }}</td>
        <td class="border border-dark">
          <div class="dropdown">

            <button class="btn btn-dark dropdown-toggle" style="background-color: black;" type="button"
              id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" [routerLink]="['/user/edicao-conta', conta.id]">Editar</a></li>
              <li><a class="dropdown-item" (click)="confirmar(conta.id)">Remover</a></li>
            </ul>
          </div>
        </td>

        <td class="border border-dark">
          <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" style="background-color: black;" type="button"
              id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" (click)="depositar(conta.cpf)">Depositar</a></li>
              <li><a class="dropdown-item" (click)="tranferir(conta.cpf)">Transferir</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <a type="button" class="btn btn-outline-light" id="botao-confirmacao" routerLink="/user">Página inicial</a>
</div>
