<div id="total">
  <h5>DEPÓSITO</h5>

  <div id="form">
    <form [formGroup]="formDeposito" (ngSubmit)="novoDeposito()">
      <fieldset>
        <label for="agencia" class="form-label">Agência</label>
        <input
          class="form-control"
          type="text"
          id="agencia"
          placeholder="_ _ _ _"
          formControlName="agencia"
        />

        <div
          *ngIf="
            formDeposito.get('agencia')?.errors &&
            formDeposito.get('agencia')?.touched &&
            formDeposito.get('agencia')?.hasError('required')"
            class="form-text text-danger">
            Campo obrigatório
        </div>
      </fieldset>

      <fieldset>
        <label for="numeroConta" class="form-label">Número da conta</label>
        <input
          class="form-control"
          type="text"
          id="numeroConta"
          placeholder="_ _ _ _ - _"
          formControlName="numeroConta"
        />

        <div
          *ngIf="
            formDeposito.get('numeroConta')?.errors &&
            formDeposito.get('numeroConta')?.touched &&
            formDeposito.get('numeroConta')?.hasError('required')"
            class="form-text text-danger">
            Campo obrigatório
        </div>
      </fieldset>

      <fieldset>
        <label for="valor" class="form-label">Valor</label>
        <input
          class="form-control"
          id="valor"
          type="text"
          placeholder="0,00"
          formControlName="valor"
          onkeypress="$(this).mask('10.000,00', {reverse: true});"
        />

      </fieldset>

      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-outline-light" [disabled]="formDeposito.invalid">Avançar</button>
      </div>

      <script>
        $(function() {
          $('#valor').maskMoney();
        })
      </script>
    </form>
  </div>
</div>
