<div id="consulta">
  <h5>Buscar conta</h5>

  <div id="form-consulta">
    <form [formGroup]="formConsultaCliente" (ngSubmit)="consulta()">
      <fieldset>
        <label for="cpf" class="form-label">CPF</label>
        <input id="cpf" class="form-control" pattern="[\d]{11}" formControlName="cpf"/>

        <div
          *ngIf="
            formConsultaCliente.get('cpf')?.errors?.['required'] &&
            formConsultaCliente.get('cpf')?.touched"
            class="form-text text-danger">
            Campo obrigatório
        </div>

        <div
          *ngIf="
            formConsultaCliente.get('cpf')?.invalid &&
            formConsultaCliente.get('cpf')?.touched"
            class="form-text text-danger">
            CPF deve conter apenas 11 números
        </div>

        <div
        *ngIf="
          formConsultaCliente.get('cpf')?.touched &&
          formConsultaCliente.get('cpf')?.value === cpfLogado"
          class="form-text text-danger">
          CPF pertence a conta atual
      </div>
      </fieldset>

      <div class="d-grid gap-2">
        <button [disabled]="!formConsultaCliente.valid" [disabled]="formConsultaCliente.get('cpf')?.value === cpfLogado" type="submit" class="btn btn-outline-light">Buscar</button>
      </div>
    </form>
  </div>
</div>
