#consulta {
  margin: 60px 40%;
}

h5 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold;
}

#form-consulta {
  text-align: left;
}

.form-label {
  margin: 10px 0;
}

button {
  margin: 30px 0 10px 0;
}
