<div class="div-clientes">
  <h5>Clientes</h5>

  <div class="text-center mt-3 mb-3">
    <form>
      <label>Filtrar por nome: </label>
      <input
        class="rounded"
        type="text"
        autofocus
        (keyup)="digitado($event.target)"
        >
    </form>
  </div>
  <table class="table border border-dark">
    <thead class="border border-dark">
      <tr class="table-secondary border border-dark">
        <th scope="col" class="border border-dark" class="thead-clientes">ID</th>
        <th scope="col" class="border border-dark" class="thead-clientes">Nome</th>
        <th scope="col" class="border border-dark" class="thead-clientes">CPF</th>
        <th scope="col" class="border border-dark" class="thead-clientes">Data nascimento</th>
        <th scope="col" class="border border-dark" class="thead-clientes">Telefone</th>
        <th scope="col" class="border border-dark" class="thead-clientes">E-mail</th>
        <th scope="col" class="border border-dark" class="thead-clientes">Tem conta</th>
        <th scope="'col" class="border border-dark" class="thead-clientes">Ações</th>
        <th scope="'col" class="border border-dark" class="thead-clientes">Transações</th>
      </tr>
    </thead>
    <tbody class="border border-dark">
      <tr class="border border-dark" *ngFor="let cliente of clientes | filterNomeCliente: filter">
        <th class="border border-dark" scope="row">{{ cliente.id }}</th>
        <td id="nome" class="border border-dark">{{ cliente.nome }}</td>
        <td class="border border-dark">{{ cliente.cpf }}</td>
        <td class="border border-dark">{{ cliente.dataNascimento | date: 'shortDate' }}</td>
        <td class="border border-dark">{{ cliente.telefone }}</td>
        <td class="border border-dark">{{ cliente.email }}</td>
        <td class="border border-dark" *ngIf="cliente.temConta == true" style="color: green;">Sim</td>
        <td class="border border-dark" *ngIf="cliente.temConta == false" style="color: red;">Não</td>
        <td class="border border-dark">
          <div class="dropdown">

            <button class="btn btn-dark dropdown-toggle" style="background-color: black;" type="button"
              id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li *ngIf="cliente.temConta == false"><a class="dropdown-item" [routerLink]="['/user/cadastro-conta', cliente.id]">Abrir conta</a></li>
              <li><a class="dropdown-item" [routerLink]="['/user/edicao-cliente', cliente.id]">Editar</a></li>
              <li><a class="dropdown-item" (click)="confirmar(cliente.id)">Remover</a></li>

            </ul>
          </div>
        </td>

        <td class="border border-dark" *ngIf="cliente.temConta == true">
          <div class="dropdown" >
            <button class="btn btn-dark dropdown-toggle" style="background-color: black;" type="button"
              id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" (click)="depositar(cliente.cpf)">Depositar</a></li>
              <li><a class="dropdown-item" (click)="tranferir(cliente.cpf)">Transferir</a></li>
            </ul>
          </div>
        </td>
        <td class="border border-dark" *ngIf="cliente.temConta == false"> </td>
      </tr>
    </tbody>
  </table>
  <a type="button" class="btn btn-outline-light" id="botao-confirmacao" routerLink="/user">Página inicial</a>
</div>
