<h5>Entrar na conta</h5>

<div id="form">
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <fieldset>
      <label for="agencia" class="form-label">Agência</label>
      <input class="form-control" type="text" placeholder="_ _ _ _"
      [(ngModel)]="agencia"
      name="agencia"
      #campoAgencia="ngModel"
      required
      />

      <app-mensagem
      *ngIf="campoAgencia.invalid && campoAgencia.touched"
      mensagem="Agência obrigatória"></app-mensagem>
    </fieldset>

    <fieldset>
      <label for="numeroConta" class="form-label">Número da conta</label>
      <input class="form-control" placeholder="_ _ _ _ - _"
      [(ngModel)]="numeroConta"
      name="numeroConta"
      #campoNumeroConta="ngModel"
      required
      />

      <app-mensagem
      *ngIf="campoNumeroConta.invalid && campoNumeroConta.touched"
      mensagem="Número da conta obrigatória"></app-mensagem>
    </fieldset>

    <fieldset>
      <label for="Senha" class="form-label">Senha</label>
      <input type="password" class="form-control"
      [(ngModel)]="senha"
      name="senha"
      #campoSenha="ngModel"
      required
      />

      <app-mensagem
      *ngIf="campoSenha.invalid  && campoSenha.touched"
      mensagem="Senha obrigatória"></app-mensagem>
    </fieldset>

    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-outline-light" [disabled]="loginForm.invalid">Entrar</button>
    </div>
  </form>
</div>
