<form (ngSubmit)="confirmacaoDeposito()">
  <h5>Confirme as informações:</h5>

  <table class="table">
    <thead class="border border-dark">
      <tr class="border border-dark">
        <th scope="col" class="border border-dark">Nome</th>
        <th scope="col" class="border border-dark">{{paraConfirmar.nomeCliente}}</th>
      </tr>
    </thead>
      <tbody class="border border-dark">
        <tr class="border border-dark">
          <th scope="row" class="border border-dark">Agência</th>
          <td class="border border-dark">{{paraConfirmar.agencia}}</td>
        </tr>
        <tr class="border border-dark">
          <th scope="row" class="border border-dark">Número da conta</th>
          <td class="border border-dark">{{paraConfirmar.numero}}</td>
        </tr>
        <tr class="border border-dark">
          <th scope="row" class="border border-dark">Valor</th>
          <td class="border border-dark">{{paraConfirmar.valor | currency}}</td>
        </tr>
      </tbody>
    </table>

  <button type="submit" class="btn btn-outline-light" id="botao-confirmacao" role="button" (click)="confirmarTransacao = true">Depositar</button>
  <a type="button" class="btn btn-outline-light" id="botao-confirmacao" routerLink="">Cancelar</a>
</form>

