<form (ngSubmit)="confirmacaoDeposito()">
  <h5>Confirme as informações:</h5>
  <h6>Agência: {{paraConfirmar.agencia}}</h6>
  <h6>Número: {{paraConfirmar.numero}}</h6>
  <h6>Nome: {{paraConfirmar.nomeCliente}}</h6>
  <h6>Valor: {{paraConfirmar.valor | currency}}</h6>

  <button type="submit" class="btn btn-outline-light" id="botao-confirmacao" role="button" (click)="confirmarTransacao = true">Depositar</button>
  <a type="button" class="btn btn-outline-light" id="botao-confirmacao" routerLink="">Cancelar</a>
</form>

