<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container-fluid">
      <a class="navbar-brand" style="font-size: 30px; font-weight: bold;" routerLink='/user'>BlackBank</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li>
            <div class="dropdown">
              <button class="btn btn-dark dropdown-toggle" style="background-color: black;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Transações
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" routerLink="deposito">Depósito</a></li>
                <li><a class="dropdown-item">Saque</a></li>
                <li><a class="dropdown-item">Transferência</a></li>
              </ul>
            </div>
          </li>

          <li>
            <div class="dropdown">
              <button class="btn btn-dark dropdown-toggle" style="background-color: black;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Extratos
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" routerLink="contas">Completo</a></li>
                <li><a class="dropdown-item" routerLink="contas/cadastrar">Por mês e ano</a></li>
                <li><a class="dropdown-item" routerLink="contas/cadastrar">Por período específico</a></li>
              </ul>
            </div>
          </li>

          <li>
            <div class="dropdown">
              <button class="btn btn-dark  dropdown-toggle" style="background-color: black;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Clientes
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" routerLink="clientes">Listar todos</a></li>
                <li><a class="dropdown-item" routerLink="clientes/cadastrar">Cadastrar</a></li>
              </ul>
            </div>
          </li>

          <li>
            <div class="dropdown">
              <button class="btn btn-dark dropdown-toggle" style="background-color: black;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Contas
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" routerLink="contas">Listar todos</a></li>
                <li><a class="dropdown-item" routerLink="contas/cadastrar">Cadastrar</a></li>
              </ul>
            </div>
          </li>
        </ul>

        <ul id="informacoes">
          <li id="nome">
            Olá, {{ contaConectada.nomeCliente.split(' ')[0] }}
          </li>
          <li>
            Agência: {{ contaConectada.agencia }}
          </li>
          <li>
            Número: {{ contaConectada.numero }}
          </li>
        </ul>

        <ul *ngIf="mostrarSaldo">
          <li id="saldo" >
            Saldo: {{ contaConectada.saldo | currency }}
          </li>
          <li id="mostrarSaldo" type="button" (click)="mostrarSaldo=false">
            <i class="fa fa-eye-slash fa-lg mt-2"></i> Ocultar saldo
          </li>
        </ul>

        <ul *ngIf="!mostrarSaldo" type="button" (click)="mostrarSaldo=true">
          <li id="mostrarSaldo" >
            <i class="fa fa-eye fa-lg"></i> Mostrar saldo
          </li>
        </ul>

      </div>
      <div class="d-flex flex-row bd-highlight">
        <a class="btn btn-outline-light" id="botao-sair" role="button" [routerLink]="['']">Sair</a>
      </div>
    </div>
  </nav>
</header>

<main>
  <div class="container-black" style="background-image: url('assets/img/blackbanktransp.png')">
    <router-outlet></router-outlet>
  </div>

  <div class="container-black">
    <h5 id="nossos-servicos">Serviços</h5>
    <div class="row">
      <div class="col-md-2" type="button" routerLink="consulta-conta">
          <img id="servicos" class="rounded mx-auto d-block" routerLink="consulta-conta" src="assets/img/contas.png" alt="Imagem de busca de contas"/>
          <div class="row">
            <a class="links" routerLink="consulta-conta">Buscar contas</a>
          </div>
      </div>

      <div class="col-md-2" type="button" routerLink="consulta-cliente">
          <img id="servicos" class="rounded mx-auto d-block" routerLink="consulta-cliente" src="assets/img/clientes.jpg" alt="Imagem de busca de clientes"/>
          <div class="row">
            <a class="links" routerLink="consulta-cliente">Buscar clientes</a>
          </div>
      </div>


      <div class="col-md-2" type="button" routerLink="deposito">
          <img id="servicos" class="rounded mx-auto d-block" routerLink="deposito" src="assets/img/deposito.jpg" alt="Imagem de depósito"/>
          <div class="row">
            <a class="links" routerLink="deposito">Depósito</a>
          </div>
      </div>

      <div class="col-md-2" type="button" routerLink="login">
          <img id="servicos" class="rounded mx-auto d-block" routerLink="login" src="assets/img/saque.png" alt="Imagem de saque"/>
          <div class="row">
            <a class="links" routerLink="login">Saque</a>
          </div>
      </div>

      <div class="col-md-2" type="button" routerLink="login">
          <img id="servicos" class="rounded mx-auto d-block" routerLink="login" src="assets/img/tranferencia.jpg" alt="Imagem de transferência"/>
          <div class="row">
            <a class="links" routerLink="login">Transferência</a>
          </div>
      </div>

      <div class="col-md-2" type="button" routerLink="login">
          <img id="servicos" class="rounded mx-auto d-block" routerLink="login" src="assets/img/extrato.png" alt="Imagem de extrato"/>
          <div class="row">
            <a class="links" routerLink="login">Extrato</a>
          </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <img id="rodape" class="rounded mx-auto d-block" src="assets/img/rodape.png"/>
</footer>
