<div id="tipos-extratos">
  <h5 id="extratos">Extratos</h5>

  <div class="row">
    <div class="col-md-2" type="button" routerLink="/user/extrato-todo-periodo">
      <img id="servicos" class="rounded mx-auto d-block" routerLink="/user/extrato-todo-periodo" src="../../../assets/img/extrato.png"
        alt="Imagem de extrato" />
      <div class="row">
        <a class="links" routerLink="/user/extrato-todo-periodo">Todo período</a>
      </div>
    </div>

    <div class="col-md-2" type="button" routerLink="/user/extrato-por-mes-ano">
      <img id="servicos" class="rounded mx-auto d-block" routerLink="/user/extrato-por-mes-ano" src="../../../assets/img/extrato.png"
        alt="Imagem de extrato" />
      <div class="row">
        <a class="links" routerLink="/user/extrato-por-mes-ano">Por mês e ano</a>
      </div>
    </div>

    <div class="col-md-2" type="button" routerLink="/user/extrato-por-periodo-especifico">
      <img id="servicos" class="rounded mx-auto d-block" routerLink="/user/extrato-por-periodo-especifico" src="../../../assets/img/extrato.png"
        alt="Imagem de extrato" />
      <div class="row">
        <a class="links" routerLink="/user/extrato-por-periodo-especifico">Por período específico</a>
      </div>
    </div>
  </div>
</div>
