body {
  background-color: gray;
}
form {
  color: white;
}
h2, h3, h4, h5 {
  text-align: center;
  font-weight: bold;
}
p {
  text-align: center;
}
.container {
  background-color: black;
  color: white;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
}
.col-md-2 {
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}
#frase-inicial {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 40px;
  padding-right: 40px;
}
#imagem-inicial {
  height: 240px;
  width: 240px;
}
#blackbank {
  height: auto;
  width: auto;
  margin-top: -10px;
}
#operacoes {
  height: 80px;
  width: 80px;
}
#rodape {
  width: 900px;
  display: flex
}
#botao-inicio {
  margin-right: 15px
}
#botao-conta {
  margin: auto;
}
#form {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 60px;
}
