<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="" style="font-weight: bold; font-size: 30px;">BlackBank</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Página incial</a>
        </li>
      </ul>

      <a class="btn btn-secondary" href="login" role="button">Entrar</a>

    </div>
  </div>
</nav>

<div class="container">
  <form (ngSubmit)="cadastrar()">
    <h2 class="formulario__titulo">CADASTRO DE CLIENTE</h2>

    <div class="mb-3 mt-4">
      <label class="form-label">Nome</label>
      <input type="text" class="form-control" id="nome" [(ngModel)]="nome" name="nome">
    </div>

    <div class="mb-3">
      <label class="form-label">CPF</label>
      <input type="text" class="form-control" id="cpf" [(ngModel)]="cpf" name="cpf">
    </div>

    <div class="mb-3">
      <label class="form-label">Data de nascimento</label>
      <input type="text" class="form-control" id="dataNascimento" [(ngModel)]="dataNascimento" name="dataNascimento">
    </div>

    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email">
    </div>

    <div class="mb-3">
      <label class="form-label">Telefone</label>
      <input type="text" class="form-control" id="telefone" [(ngModel)]="telefone" name="telefone">
    </div>

    <div class="mb-3">
      <label class="form-label">Senha</label>
      <input type="password" class="form-control" id="senha" [(ngModel)]="senha" name="senha">
    </div>

    <div class="mb-3">
      <label class="form-label">Confirmar senha</label>
      <input type="password" class="form-control" id="senhaConfirmar" [(ngModel)]="senhaConfirmar"
        name="senhaConfirmar">
    </div>

    <blockquote class="blockquote text-center mt-4">
      <button type="submit" class="btn btn-secondary">Cadastrar</button>
    </blockquote>

  </form>
</div>
