<h1>EXTRATO</h1>

<table class="table table-dark table-striped">
  <thead *ngIf="transferencias?.length > 0; else listaVazia">
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Agência</th>
      <th scope="col">Número da conta</th>
      <th scope="col">Valor</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let transferencia of transferencias">
      <th scope="row">{{ transferencia?.data | date: "short"}}</th>
      <td>{{ transferencia?.agencia }}</td>
      <td>{{ transferencia?.numeroConta }}</td>
      <td>{{ transferencia?.valor | currency }}</td>
    </tr>
  </tbody>
</table>

<ng-template #listaVazia>
  <p>Nenhuma operação cadastrada!</p>
</ng-template>
