.container-black {
  background: black;
  color: white;
  text-align: center;
  margin: 30px 30px 0 30px;
  border-radius: 15px;
  padding: 30px;

}

#img-frase-inicial img {
  width: 40%;
}

#img-frase-inicial {
  padding: 0 10%;
  text-align: center;
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#nossos-servicos {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}

.col-md-2:hover {
  border-width: 5px;
  transition: border;
  transform: scale(1.2);
}

.col-md-2:active {
  border-color: gray;
}

.col-md-2:active a{
  color: gray;
}

.col-md-2{
  text-align: center;
  border: 2px solid white;
  border-radius: 15px;
  margin: 15px auto;
  width: 140px;
  padding: 10px;
  height: auto;
}

#servicos {
  width: 60%;
  height: 60%;
  margin: 15px 0;
}

.links {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin-bottom: 15px;
}

footer {
  background: black;
  margin: 30px 0 0 0;
  padding:  15px 0;
  border-top: 3px solid white;
}

#rodape {
  padding: 15px 20px;
  width: 90%;
}


