<div id="deposito">
  <h5>Depósito</h5>
  <form [formGroup]="formDepositoLogado" (ngSubmit)="deposito()" class="formulario">
    <fieldset>
      <label for="agencia" class="form-label">Agência</label>
      <input
        class="form-control"
        type="text"
        id="agencia"
        placeholder="_ _ _ _"
        formControlName="agencia"
      />

      <div
        *ngIf="
          formDepositoLogado.get('agencia')?.errors &&
          formDepositoLogado.get('agencia')?.touched &&
          formDepositoLogado.get('agencia')?.hasError('required')"
          class="form-text text-danger">
          Campo obrigatório
      </div>
    </fieldset>

    <fieldset>
      <label for="numeroConta" class="form-label">Número da conta</label>
      <input
        class="form-control"
        type="text"
        id="numeroConta"
        placeholder="_ _ _ _ - _"
        formControlName="numeroConta"
      />

      <div
        *ngIf="
          formDepositoLogado.get('numeroConta')?.errors &&
          formDepositoLogado.get('numeroConta')?.touched &&
          formDepositoLogado.get('numeroConta')?.hasError('required')"
          class="form-text text-danger">
          Campo obrigatório
      </div>
    </fieldset>

    <fieldset>
      <label for="valor" class="form-label">Valor</label>
      <input
        class="form-control"
        id="valor"
        type="number"
        placeholder="0,00"
        pattern="[\d,.]*"
        formControlName="valor"
      />

      <div
        *ngIf="
          formDepositoLogado.get('valor')?.errors &&
          formDepositoLogado.get('valor')?.touched &&
          formDepositoLogado.get('valor')?.hasError('required')"
          class="form-text text-danger">
          Campo obrigatório
      </div>
      <div
        *ngIf="
          formDepositoLogado.get('valor')?.errors &&
          formDepositoLogado.get('valor')?.touched &&
          formDepositoLogado.get('valor')?.invalid"
          class="form-text text-danger">
          Valor inválido
      </div>

    </fieldset>

    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-outline-light" [disabled]="formDepositoLogado.invalid">Avançar</button>
    </div>
  </form>
</div>

