<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="" style="font-weight: bold; font-size: 30px;">BlackBank</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Página incial</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div class="container">
  <form (ngSubmit)="logar()">
    <h2 class="formulario__titulo">FAÇA SEU LOGIN</h2>

    <div class="mb-3 mt-4">
      <label class="form-label">Agência</label>
      <input type="text" class="form-control" id="agencia" [(ngModel)]="agencia" name="agencia">
    </div>

    <div class="mb-3">
      <label class="form-label">Número da conta</label>
      <input type="text" class="form-control" id="numeroConta" [(ngModel)]="numeroConta" name="numeroConta">
    </div>

    <div class="mb-3">
      <label class="form-label">Senha</label>
      <input type="password" class="form-control" id="senha" [(ngModel)]="senha" name="senha">
    </div>

    <blockquote class="blockquote text-center mt-4">
      <button type="submit" class="btn btn-secondary">Entrar</button>
    </blockquote>

    <blockquote class="blockquote text-center mt-5">
      <p>Ainda não tem conta?</p>
      <a class="btn btn-secondary me-2" href="cadastro" role="button">Cadastrar</a>
    </blockquote>

  </form>
</div>
