#div-extrato {
  margin: 0 50px;
}
h5 {
  margin: 25px 0;
  text-transform: uppercase;
}

table {
  background-color: white;
  border-radius: 15px;
}

.thead-extrato {
  text-transform: uppercase;
  font-weight: bold;
}

.tipo {
  font-weight: bold;
  text-transform: uppercase;
}

.valores {
  text-align: end;
  font-weight: bold;
}

#saldo-apos {
  text-align: end;
  font-weight: bold;
}

.btn {
  margin-top: 15px;
}
