<h5 class="mt-4">CADASTRAR CONTA</h5>
<div id="form">
  <form [formGroup]="formCadastroConta" (submit)="cadastrar()" #cadastroForm="ngForm">
    <div class="mb-2 mt-3">
      <label for="nome" class="form-label">Nome completo</label>
      <input class="form-control" formControlName="nome"/>
      <app-mensagem
      *ngIf="formCadastroConta.get('nome')?.errors && formCadastroConta.get('nome')?.touched"
      mensagem="Nome obrigatório">
      </app-mensagem>
    </div>

    <div class="mb-2">
      <label for="cpf" class="form-label">CPF</label>
      <input class="form-control" formControlName="cpf"/>
      <app-mensagem
      *ngIf="formCadastroConta.get('cpf')?.errors?.['required'] && formCadastroConta.get('cpf')?.touched"
      mensagem="CPF obrigatório">
      </app-mensagem>
      <app-mensagem
      *ngIf="formCadastroConta.get('cpf')?.errors && formCadastroConta.get('cpf')?.touched"
      mensagem="CPF deve conter 11 números">
      </app-mensagem>
    </div>

    <div class="mb-2">
      <label for="dataNascimento" class="form-label">Data de nascimento</label>
      <input class="form-control" formControlName="dataNascimento"/>
      <app-mensagem
      *ngIf="formCadastroConta.get('dataNascimento')?.errors?.['required'] && formCadastroConta.get('dataNascimento')?.touched"
      mensagem="Data de nascimento obrigatório">
      </app-mensagem>
    </div>

    <div class="mb-2">
      <label for="email" class="form-label">E-mail</label>
      <input class="form-control"  formControlName="email"/>
      <app-mensagem
      *ngIf="formCadastroConta.get('email')?.errors?.['required'] && formCadastroConta.get('email')?.touched"
      mensagem="E-mail obrigatório">
      </app-mensagem>
      <app-mensagem
      *ngIf="formCadastroConta.get('email')?.errors?.['email'] && formCadastroConta.get('email')?.touched"
      mensagem="E-mail no formado incorreto">
      </app-mensagem>
    </div>

    <div class="mb-2">
      <label for="telefone" class="form-label">Telefone</label>
      <input class="form-control"  formControlName="telefone"/>
      <app-mensagem
      *ngIf="formCadastroConta.get('telefone')?.errors?.['required'] && formCadastroConta.get('telefone')?.touched"
      mensagem="Telefone obrigatório">
      </app-mensagem>
    </div>

    <div class="mb-2">
      <label for="senha" class="form-label">Senha</label>
      <input type="password" class="form-control"  formControlName="senha"/>
      <app-mensagem
      *ngIf="formCadastroConta.get('senha')?.errors?.['required'] && formCadastroConta.get('senha')?.touched"
      mensagem="Senha obrigatória">
      </app-mensagem>
      <app-mensagem
      *ngIf="formCadastroConta.get('senha')?.errors && formCadastroConta.get('senha')?.touched"
      mensagem="Senha deve conter de 8 a 16 dígitos">
      </app-mensagem>
    </div>

    <div class="mb-4">
      <label for="senhaConfirmar" class="form-label">Confimar Senha</label>
      <input type="password" class="form-control"  formControlName="senhaConfirmar"/>
      <app-mensagem
      *ngIf="formCadastroConta.get('senhaConfirmar')?.errors?.['required'] && formCadastroConta.get('senhaConfirmar')?.touched"
      mensagem="Senha obrigatória">
      </app-mensagem>
      <app-mensagem
      *ngIf="formCadastroConta.get('senhaConfirmar')?.errors && formCadastroConta.get('senhaConfirmar')?.touched"
      mensagem="Senha deve conter de 8 a 16 dígitos">
      </app-mensagem>
    </div>

    <div class="d-grid gap-2 mt-3">
      <button type="submit" class="btn btn-outline-light" [disabled]="cadastroForm.invalid">Cadastrar</button>
      <a type="button" class="btn btn-outline-light" routerLink="nova-conta">Cadastrar</a>
    </div>
  </form>
</div>
